@import "tailwindcss";

header {
  width: 100%;
  padding: 10px 2%;
  position: absolute;
  top: 0;
  background-color: #ffd700;
  z-index: 3;
}

/* Links em estado Light */
.navbar-light .nav-item a {
  color: #4a4a4a;
}

.navbar-light .nav-item:hover a {
  color: #f28c28;
}

.navbar-light .nav-item.active a {
  color: #1d1d1d;
  border-bottom: solid 3px #f28c28;
}

.navbar-dark .nav-item a {
  color: white;
}

.navbar-dark .nav-item:hover a {
  color: #ffbeba;
}

.navbar-dark .nav-item.active a {
  color: #ffdeba;
  border-bottom: solid 3px white;
}

.navbar-light {
  background: #ffbeba;
  box-shadow: 1px 1px 3px 1px rgba(211, 153, 153, 0.4);
}

.navbar-dark {
  background: #f28c28;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

#navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffbeba;
  box-shadow: 1px 1px 1px 1px rgba(211, 153, 153, 0.4);
  font-family: "Cormorant Garamond", serif;
}

.logo {
  width: 100px;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 60px;
}

.nav-item a,
.btn-cad {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.nav-item:hover {
  border-bottom: solid 1px rgba(211, 153, 153, 0.6);
}

.nav-item .active a {
  color: #1d1d1d;
  border-bottom: solid 3px #f28c28;
}

.header-img {
  margin-left: 3%;
  margin-right: 3%;
  height: 70%;
}

/*hero-section*/

.hero-section {
  position: relative;
  height: 90vh;
  background-color: #fff6f5;
  overflow: hidden;
}

.overlay-content {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 15%;
  color: #5a3d3d;
  pointer-events: none;
}

.overlay-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Cormorant Garamond", serif;
}

.overlay-content p {
  font-size: 0.8rem;
  opacity: 0.9;
}

.img_1,
.img_2 {
  position: absolute;
  top: 0;
  width: 35vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.img_2 {
  left: 0;
  left: 0;
  mask-image: radial-gradient(
    ellipse 120% 100% at 20% 50%,
    black 40%,
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 130% 100% at 10% 60%,
    black 40%,
    transparent 70%
  );
}

.img_1 {
  right: 0;
  mask-image: radial-gradient(
    ellipse 120% 100% at 80% 50%,
    black 40%,
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 120% 100% at 90% 20%,
    black 40%,
    transparent 70%
  );
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

/*apresentação-section*/

.apresentacao {
  background-color: #fff6f4dc;
  height: auto;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  gap: 40px;
}

.imagem img {
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.texto {
  flex: 1;
  min-width: 280px;
}

.texto h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 16px;
}

.texto p {
  color: #555;
  margin-bottom: 24px;
  line-height: 1.6;
}

.button-saibaMais {
  background-color: #0077ff;
  color: white;
  border: nonel;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.button-saibaMais:hover {
  background-color: #005fcc;
}

.App {
  padding: 3rem;
}

.text-2xl {
  margin-top: 8%;
}

.mt-10 {
  margin-bottom: 10%;
}

.text-xl {
  padding: 8%;
}

/* Preparo Section*/

.faixa-back {
  position: absolute;
  box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.1);
  top: 15%;
  left: -10%;
  width: 120%;
  height: 400px;
  background-color: #eeaca8;
  transform: rotate(-3deg);
  transform-origin: center;
  z-index: 0;
  margin: -50px 0;
}

.preparo {
  position: relative;
  min-height: 100vh;
  background-color: #fff6f4dc;
  padding-bottom: 250px;
}

.preparo-field {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.left-content {
  position: relative;
  background-color: #ffbeba;
  padding: 60px 40px;
  margin-left: 7%;
  z-index: 1;
  width: 25%;
}

.left-content h1 {
  font-size: 4rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10%;
  margin-top: 10%;
}

.left-content p {
  font-size: 1.2rem;
}

.forma-l {
  position: relative;
  bottom: 0;
  width: 86%;
  height: 450px;
  margin: 0px auto;
  background-color: #ffbeba;
  border-bottom-left-radius: 450px;
  border-top-right-radius: 450px;
  z-index: 2;
}

/* Adiciona curvas nos cantos internos usando pseudo-elementos */
.forma-l::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 29.1%;
  width: 200px;
  height: 200px;
  background-color: #000000; /* mesma cor do fundo da seção */
  background: radial-gradient(
    circle at bottom left,
    transparent 200px,
    #ffbeba 50px
  );
}

.forma-l::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 29.1%;
  width: 200px;
  height: 200px;
  background-color: #000000; /* mesma cor do fundo da seção */
  background: radial-gradient(
    circle at top right,
    transparent 200px,
    #ffbeba 50px
  );
}

.rigth-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6% auto;
  z-index: 3;
}

.item-preparo h1 {
  font-family: "Cormorant Garamond", serif;
  color: #bd7774;
  font-size: 2.5rem;
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin: 35px auto;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 9rem 0;
  overflow: hidden;
  perspective: 1000px;
}

.imagem-anterior,
.imagem-central,
.imagem-posterior {
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.8s ease-in-out, box-shadow 0.6s ease-in-out;
  will-change: transform, opacity;
}

.imagem-anterior,
.imagem-posterior {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.95) rotateY(-10deg);
}

.imagem-posterior {
  transform: scale(0.95) rotateY(10deg);
}

.imagem-anterior:hover,
.imagem-posterior:hover {
  opacity: 1;
  transform: scale(1.03) rotateY(0deg);
}

.imagem-anterior img,
.imagem-posterior img {
  width: 260px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease-in-out;
}

.imagem-central img {
  width: 360px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  transition: all 0.6s ease-in-out;
}

.imagem-central:hover img {
  transform: scale(1.02);
}

.preparo-img_2 {
  position: absolute;
  top: 60%;
  width: 35vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  right: 0;
  mask-image: radial-gradient(
    ellipse 120% 100% at 80% 50%,
    black 40%,
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 120% 100% at 90% 20%,
    black 40%,
    transparent 70%
  );
}

.preparo-img_1 {
  position: absolute;
  top: 0;
  width: 35vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  left: 0;
  mask-image: radial-gradient(
    ellipse 120% 100% at 20% 50%,
    black 40%,
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 130% 100% at 10% 60%,
    black 40%,
    transparent 70%
  );
}

.recipe-rigth-content-field {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 3;
}

.recipe-rigth-content {
  position: relative;
  margin-right: 7%;
  background-color: #ffbeba;
  padding: 60px 40px;
  z-index: 1;
  width: 25%;
  min-height: 300vh;
}

.recipe-field {
  position: absolute;
  width: 58%;
  display: flex;
  flex-direction: column;
  left: 7%;
  top: 6%;
  gap: 30px;
  z-index: 2;
}

.recipe1,
.recipe2,
.recipe3,
.recipe4 {
  background-color: #fff6f4dc;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.recipe1 {
  display: flex;
  width: 90%;
  justify-content: start;
  margin-left: 0px;
}

.recipe1-left-content {
  width: 40%;
  padding: 1rem;
}

.recipe1-left-content img {
  border-radius: 12px;
  box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 250px;
  object-fit: cover;
}

.recipe1-left-content p {
  margin-top: 12px;
  font-size: 16px;
  text-indent: 2em;
  font-family: "cormorant garand";
}

.recipe1-rigth-content {
  width: 60%;
  padding: 1rem;
}

.recipe1-rigth-content h2 {
  font-size: 30px;
  font-family: "cormorant garand";
}

.recipe1-rigth-content h3 {
  font-size: 16px;
  font-family: "cormorant garand";
}

.recipe2 {
  margin-top: 10%;
  width: 90%;
  display: flex;
  margin-left: 10%;
}

.recipe2-content {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.recipe2-texts {
  width: 60%;
  padding: 1rem;
}

.recipe2 p {
  margin-top: 5%;
}

.t-001 {
  font-weight: 600;
}
.recipe2-content h2 {
  font-size: 30px;
  font-family: "cormorant garand";
}

.chef-name {
  font-size: 16px;
  font-family: "cormorant garand";
}
.recipe2-content h3 {
  margin-top: 5%;
  font-size: 16px;
  text-indent: 2em;
  font-family: "cormorant garand";
}

.recipe2-content img {
  border-radius: 12px;
  box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 100%;
  object-fit: cover;
}

.slider {
  margin: 0 auto;
  border-radius: 25px;
  width: 340px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 350px;
}

.manual-navigation {
  position: absolute;
  width: 350px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio1:checked ~ .first {
  margin-left: -25%;
}

.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 350px;
  justify-content: center;
  margin-top: 360px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

.recipes3-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:12px;
  margin-top: 10%;
}

.recipe3-carousel-field {
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  width: 80%;
  margin-top: 5%;
}

.recipe3-carousel-field h3{
  margin-top: 5%;
  font-size: 16px;
  text-indent: 2em;
  font-family: "cormorant garand";
}

.recipe3 {
  width: 50%;
  padding: 2rem;
}

.recipe3 h1, .recipe4 h1 {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 37px;
  color: #333;
  font-family: "cormorant garand";
}

.recipe3 h2, .recipe4 h2 {
  font-size: 18px;
  margin-left: 6%;
  color: #333;
  font-family: "cormorant garand";
}

.recipe4 {
  content: '';
  width: 50%;
  margin-top: 10%;
}

.recipe-rigth-content2 {
  position: relative;
  margin-right: 7%;
  background-color: #ffbeba;
  padding: 60px 40px;
  z-index: 1;
  width: 25%;
  min-height: 300vh;
}

.recipe-rigth-content2 h1 {
  font-size: 4rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 10%;
  margin-top: 10%;
}

.recipe-rigth-content2 p {
  font-size: 1.2rem;
}
/*
<div className="slides-4">
                      
                      <input type="radio" name="radio-btn-4" id="radio1" />
                      <input type="radio" name="radio-btn-4" id="radio2" />

                      

                      <div className="slide first">
                        <img src="\src\assets\img\recipe3-1.png" alt="" />
                      </div>
                      <div className="slide">
                        <img src="\src\assets\img\recipe3-2.png" alt="" />
                      </div>

                      <div className="navigation-auto-4">
                        <div className="auto-btn1-4"></div>
                        <div className="auto-btn2-4"></div>
                      </div>
                    </div>

                    <div className="manual-navigation-4">
                      <label htmlFor="radio1" className="manual-btn-4"></label>
                      <label htmlFor="radio2" className="manual-btn-4"></label>
                    </div>
                  </div>

*/

.slider-4 {
  margin: 0 auto;
  border-radius: 25px;
  width: 340px;
  height: 400px;
  overflow: hidden;
}

.slides-4 {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides-4 input {
  display: none;
}

.slide-4 {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide-4 img {
  width: 350px;
}

.manual-navigation-4 {
  position: absolute;
  width: 350px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn-4 {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn-4:not(:last-child) {
  margin-right: 40px;
}

.manual-btn-4:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio1:checked ~ .first {
  margin-left: -25%;
}

.navigation-auto-4 div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto-4 {
  position: absolute;
  display: flex;
  width: 350px;
  justify-content: center;
  margin-top: 360px;
}

.navigation-auto-4 div:not(:last-child) {
  margin-right: 40px;
}

#radio1-4:checked ~ .navigation-auto .auto-btn1-4 {
  background-color: #fff;
}

#radio2-4:checked ~ .navigation-auto .auto-btn-4 {
  background-color: #fff;
}